img {
    width: 800px;
    height: 600px;
    overflow: hidden
}

div[class='item'] > span {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    background-color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}